/* variables */
//$bg-color: rgb(10, 10, 10);
//$emphasis-text-color: rgb(11, 84, 186);
$bg-color: rgba(12, 12, 12, 1);
$emphasis-text-color: rgb(31, 161, 253);
$primary-color: #ff073a;
$card-bg-color: radial-gradient(
  circle,
  rgb(49, 47, 47) 20%,
  rgba(43, 45, 47, 1) 80%
);

html {
    background: $bg-color;
    font-family: 'Iosevka Web';
    height: 100%;
  }

body {
    height: 100%;
  }



  #landing {
    background: $bg-color;
    color: $emphasis-text-color;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
  }

  .landing-title {
    left: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 40%;
    text-align: center;
    font-size: large;
  }

  .landing-card {
    background: $card-bg-color;
    border-radius: 2rem;
    margin: 3rem 0;
    padding: 1rem 2rem;
    max-width: 60em;
    margin:auto
  }

  em {
    color:$emphasis-text-color
  }

  p, h1, h2, h3 {
    text-color: white;
    color: white;
  }