<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css" rel="stylesheet" />
  </head>
  <body>
    <section>
      {{ content }}
      {% for post in site.posts %}
      <h1><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
      {% endfor %}
    </section>
    <footer>
      2023 &copy; Taylor Ellington
    </footer>
  </body>
</html>